*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #570fe8, rgb(202, 0, 238));
    padding: 10px;
}

.todo-list{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.todo-list  h2{
    color: #002765;
    display: flex;
    /* align-items: center; */
    text-align: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0; 
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #30d806;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover{
    background-color: #058b37;
}
ul > li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul > li::before{
    content : '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(./uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: black;
    text-decoration: line-through;

}

ul li.checked::before{
    content : '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(./checked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    
}

ul li span:hover{
    background: rgb(41, 234, 12);
    border-radius: 10px;
}